.container{ height:800px; width: 800px; border: 1px solid blue; }
.white{ height: 100px; width: 100px; background-color:gold; float: left;}
.black{ height: 100px; width: 100px; float: left;}









