body{ background-color: gray; }
ul{ margin: 50px 0 0 0;  }
ul li{ list-style: none; display: inline-block; }
ul li a{ text-decoration:none;  padding: 20px; color: white; background-color: #632532;}
ul li a:hover{ text-decoration:underline; background-color: yellow; color: blue; padding: 30px; }
.box1{ border-radius: 15% 0 0 0;}
.box2{ border-radius: 0 15% 0 0; }

















